.dn {
    display: none;
}

.btn:focus {
    outline: none;
}

#middle {
    margin-top: 100px;
}

div#view-select-language ul li {
    cursor: pointer;
}

div#view-select-language div ul {
    margin-bottom: 15px;
}

button#new_word {
    margin-right: 20px;
}

textarea {
    resize: none;
}

button#check {
    margin-bottom: 15px;
}

button#solve {
    margin: 0 20px 15px 0;
}

div#statistic {
    display: none;
    margin-top: 100px;
}

div#description {
    margin-top: 100px;
}

div#description p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}

div#description_of_add_dictionary {
    margin-top: 100px;
}

div#description_of_game {
    margin-top: 100px;
}

div#description_of_add_word {
    margin-top: 100px;
}

#breadcrumb {
    position: absolute;
    top: 30px;
}

ul#breadcrumb li a:hover, ul#breadcrumb li a:focus {
    text-decoration: none;
}

#return-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#save_new_dictionary {
    position: absolute;
    top: 300px;
    left: 390px;
}
