.dn {
    display: none;
}

body {
    background-color: #ffffff;
}

button {
    border-radius: 10px;
    outline: none;
}

button#return-button {
    border-radius: 8px;
    margin: 10px 0 10px 10px;
}

div#content {
    width: 600px;
    max-height: 660px;
    margin: 80px auto;
    padding-bottom: 85px;
    background-color: #CCCCFF;
    border-radius: 10px;
    position: relative;
}

div#view-select-language {
    margin-left: 202px;
}

div#view-select-language ul {
    list-style-image: url('images/back.png')
}

div#view-select-language ul li {
    background-repeat: no-repeat;
    margin: 0;
    padding: 4px 0 4px 20px;
    cursor: pointer;
}

li {
    font-size: 25px;
}

button#new_dictionary {
    height: 45px;
    width: 145px;
    margin: 30px 0 0 -153px;
    background-color: #ADFF2F;
}

div#add_new_dictionary {
    margin-left: 74px;
}

h4 {
    font-size: 30px;
    margin-left: 165px;
}

div#add_new_dictionary input {
    height: 50px;
    resize: none;
    width: 140px;
}

div#add_new_dictionary input:nth-of-type(2) {
    margin: 20px 0 0 295px;
}

div#add_new_dictionary p {
    font-size: 20px;
    width: 20px;
}

div#add_new_dictionary p:nth-of-type(2) {
    font-size: 20px;
    margin: -102px 0 0 296px;
    width: 20px;
}

button#save_new_dictionary {
    height: 36px;
    width: 115px;
    margin: 35px 0 0 165px;
}

div#view-game-mode {
    margin: 20px 0 0 50px;
    width: 500px;
}

button#new_word {
    width: 215px;
    height: 55px;
    border-radius: 10px;
    background-color: #adff2f;
}

button#game {
    width: 215px;
    height: 55px;
    margin-left: 65px;
    background-color: #adff2f;
}

div#view-add-new {
    position: relative;
    margin-left: 50px;
    width: 500px;
}

h2 {
    margin-left: 55px;
}

div#foreign_word {
    position: absolute;

}

div#translate_word {
    position: absolute;
    left: 280px;
}

textarea {
    resize: none;
    width: 215px;
    height: 55px;
}

button#save {
    height: 36px;
    width: 115px;
    margin: 155px 0 0 190px;
}

div#view-game {
    position: relative;
    margin: 54px 0 0 50px;
    width: 500px;
}

div#check_translation div {
    position: absolute;
}

div.random_word {
    border: 1px dotted #808080;
    border-radius: 5px;
    width: 215px;
    height: 55px;
    position: absolute;
}

div#translate {
    margin-left: 280px;
}

h3 {
    position: absolute;
    top: -53px;
    left: 52px;
}

p {
    text-align: center;
}

button#check {
    height: 36px;
    width: 115px;
    margin: 75px 0 0 187px;
}

button#solve {
    position: absolute;
    width: 180px;
    left: 45px;
    top: 128px;
}

button#solve_not {
    position: absolute;
    left: 278px;
    top: 128px;
    width: 180px;
}

div#statistic {
    width: 300px;
    height: 210px;
    position: absolute;
    top: 80px;
    left: 1017px;
    background-color: #CCCCFF;
    border-radius: 10px;
}

div#statistic ul {
    line-height: 45px;

}

div#statistic ul li {
    font-size: 17px;
}